.article-page {
    max-width: 1250px;
    font-family: Arial, sans-serif;
    margin: 1rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

.article-header-left {
    text-align: left;
    margin-bottom: 2rem;
}

.article-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.article-description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;


}

.article-content {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.article-footer {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    color: #555;
}


.comment-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 0.5rem;
}

.comments-list ul {
    list-style: none;
    padding: 0;
}

.action-buttons {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    margin-bottom: 1rem;
}

.like-button,
.comment-toggle {
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    cursor: pointer;
    border: none;

    color: black;
    border-radius: 4px;
    min-width: 30px;

    text-align: center;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.like-button:hover,
.comment-toggle:hover {
    background-color: #4a89c7;
}

.comments-list li {
    word-wrap: break-word;
    white-space: normal;
}

.article-preview {
    margin-top: 1rem;
    text-align: center;
}

.edit-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #f1c40f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
}

.edit-button:hover {
    background-color: #d4ac0d;
}


.article-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.article-tags {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tag-badge {
    display: inline-block;
    margin-right: 0.5rem;


}

