body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container.article-create {
    max-width: 900px;
    margin: 1rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.form-header h1 {
    margin: 0;
    font-size: 2rem;
}


.form-header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

textarea {
    resize: none;
    height: 300px;
}

input[type="text"]:focus,
textarea:focus {
    outline-color: #5b9bd5;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #5a4545;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: #4a89c7;
}

.preview-button {
    padding: 8px 12px;
    background-color: #7a7a7a;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.preview-button:hover {
    background-color: #5b5b5b;
}

.preview-filename {
    font-size: 0.9em;
    color: #444;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden-preview {
    display: none;
}
